.note {
    max-width: 200px;
    height: 200px;
    padding: 0.5rem;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: space-between;
    word-break: break-all;
    overflow-y: auto;
    transition: 0.2s all ease;
    cursor: pointer;
    color: #372948;
}

.note:hover {
    transform: scale(1.05);
}

.btn-delete {
    width: 20%;
    padding: 0.6rem;
    background: #ed2939;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 10px;
}

.btn-delete:hover {
    background: #ff5c5c;
}

@media (max-width: 480px) {
    .note {
        width: 100%;
    }
}