.note {
    max-width: 200px;
    height: 200px;
    padding: 0.5rem;
    display: flex;
    align-items: left;
    flex-direction: column;
    word-break: break-all;
    overflow-y: auto;
    transition: 0.2s all ease;
    cursor: pointer;
    color: #372948;
}

.note:hover {
    transform: scale(1.05);
}

.btn-delete {
    width: 30%;
    padding: 0.6rem;
    background: transparent;
    color: #fe6862;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 10px;
    align-self: flex-end;
    font-size: 1.5rem;
}

@media (max-width: 480px) {
    .note {
        width: 100%;
    }
}