.input-field {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.input-field .input-note {
    width: 60%;
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
    border-radius: 4px;
    border: none;
    color: #372948;
}

.input-field .btn-add {
    padding: 0.5rem;
    font-size: 1rem;
    margin-left: 15px;
    width: 100px;
    border-radius: 4px;
    cursor: pointer;
    background: #FFECEF;
    color: #372948;
    outline: none;
    border: none;
}

.input-field .btn-add:hover {
    background: #FFCACA;
}

@media (max-width: 767px) {
    .input-field {
        flex-direction: column;
        height: 20dvh;
    }

    .input-field .input-note {
        width: 90%;
    }

    .input-field .btn-add {
        width: 50%;
        margin: 20px 0;
    }
}