:root {
  --darkColor: #1c1c1c;
  --lightColor: #e6e6e6;
  --actionColor: #5cb85c;
  --infoColor: #5bc0de;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif, Helvetica;
}

body {
  min-height: 100vh;
  min-width: 100%;
}